* {
    margin: 0;
    padding: 0;
    max-height: 1200px;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
    background: #0ABBC6;
}

.course-completed {
    width: 1200px;
    height: 821px;
    left: 161px;
    top: 426px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.congo {
    width: 1281px;
    height: 360px;
    left: 80px;
    top: 151px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 140px;
    font-family: Outfit;
    font-weight: 700;
    word-wrap: break-word;
}

.left-div {

    width: 861px;
    height: 821px;
    left: -545px;
    top: -60px;
    position: absolute;
    background: rgba(198, 231, 248, 0.54);
    box-shadow: 304px 304px 304px;
    border-radius: 9999px;
    filter: blur(304px);
}

.center-div {
    left: 736px;
    top: 761px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 700;
    word-wrap: break-word;
}

.right-div {
    width: 861px;
    height: 821px;
    left: 764px;
    top: 733px;
    position: absolute;
    background: rgba(198, 231, 248, 0.54);
    box-shadow: 304px 304px 304px;
    border-radius: 9999px;
    filter: blur(304px);
}

.box {
    width: 2000px;
    height: 3000px;
    position: relative;
    background: #0ABBC6"; 
 margin-top: 0px;
}

.certificate {
    width: 652px;
    height: 440px;
    left: 395px;
    top: 610px;
    position: absolute;
}

.star_postn {
    width: 318px;
    height: 57px;
    left: 887px;
    top: 29px;
    position: absolute;
}

.star_postn_child {
    width: 210px;
    height: 57px;
    left: 108px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 30px;
}

.star {
    width: 57px;
    height: 57px;
    left: 117px;
    top: 0px;
    position: absolute;
}

.points {
    left: 0px;
    top: 9px;
    position: absolute;
    text-align: right;
    color: white;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.score {

    width: 169px;
    height: 23px;
    left: 146px;
    top: 9px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.tier_postn {
    width: 291px;
    height: 57px;
    left: 190px;
    top: 29px;
    position: absolute;
}

.tier_postn_child {

    width: 210px;
    height: 57px;
    left: 81px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 30px;
}

.tier {
    left: 0px;
    top: 9px;
    position: absolute;
    text-align: right;
    color: white;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.tier-child {
    width: 169px;
    left: 119px;
    top: 9px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.box1 {
    width: 227px;
    height: 83px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.box1-child {

    width: 227px;
    height: 83px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #A4FF5D 0%, #05FF00 100%);
    border-radius: 70px;
}

.redeem {
    width: 168.46px;
    height: 30.65px;
    left: 29.27px;
    top: 31.92px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.box2 {
    width: 227px;
    height: 83px;
    left: 0px;
    top: 100px;
    position: absolute;
}

.box2-child {
    width: 227px;
    height: 83px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #A4FF5D 0%, #05FF00 100%);
    border-radius: 70px;
}

.restart {
    width: 168.46px;
    height: 30.65px;
    left: 29.27px;
    top: 31.92px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}

.box3 {
    width: 227px;
    height: 83px;
    left: 0px;
    top: 200px;
    position: absolute;
}

.box3-child {

    width: 227px;
    height: 83px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #A4FF5D 0%, #05FF00 100%);
    border-radius: 70px;
}

.continue {
    width: 168.46px;
    height: 30.65px;
    left: 29.27px;
    top: 31.92px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}