.gradient-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1876px;
  height: 1536px;
}
.hero-item,
.text3 {
  position: absolute;
  top: 761px;
  left: 736px;
}
.hero-item {
  top: 416px;
  left: 805px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.forgot-password1,
.reset-your-password {
  position: absolute;
  top: 8px;
  left: 0;
  line-height: 100px;
  display: inline-block;
  width: 531px;
  height: 291px;
}
.reset-your-password {
  top: 254px;
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  width: 473px;
  height: 112px;
}
.rectangle-icon4 {
  position: absolute;
  top: 0;
  left: 485px;
  border-radius: var(--br-21xl);
  width: 446px;
  height: 366px;
  object-fit: cover;
}
.hero1 {
  position: absolute;
  top: 49px;
  left: 254px;
  width: 931px;
  height: 516px;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}
.footer-child1 {
  position: absolute;
  top: 78.05px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 274px;
}
.vector-icon6 {
  position: absolute;
  height: 9.41%;
  width: 2.99%;
  top: 0.23%;
  right: 15.69%;
  bottom: 90.36%;
  left: 81.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chanakya3,
.email3,
.menu3,
.our-socials3,
.services3 {
  position: absolute;
  top: 99.05px;
  left: 184px;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.email3,
.menu3,
.our-socials3,
.services3 {
  top: 102.05px;
  left: 472px;
}
.menu3,
.our-socials3,
.services3 {
  left: 678px;
}
.our-socials3,
.services3 {
  left: 871px;
}
.our-socials3 {
  left: 1105px;
}
.all-rights-reserved3 {
  margin: 0;
}
.all-rights-reserved-container3 {
  position: absolute;
  top: 154.05px;
  left: 184px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 176px;
  height: 61px;
}
.about-us-courses-container3,
.all-rights-reserved-container3,
.terms-of-use-container3 {
  font-size: var(--body-text-size);
  font-weight: 500;
  display: inline-block;
}
.about-us-courses-container3 {
  position: absolute;
  top: 154.05px;
  left: 678px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 99px;
  height: 102px;
}
.terms-of-use-container3 {
  top: 159.05px;
  left: 871px;
  width: 189px;
  height: 81px;
}
.privacy-policy3,
.terms-of-use-container3,
.xyzgmailcom3 {
  position: absolute;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
}
.xyzgmailcom3 {
  top: 154.05px;
  left: 454px;
  font-size: var(--body-text-size);
  font-weight: 500;
}
.privacy-policy3 {
  top: 256.05px;
  left: 184px;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  width: 176px;
  height: 61px;
}
.frame-icon3,
.vector-icon7 {
  position: absolute;
  top: 128.05px;
  left: 1105px;
  width: 40px;
  height: 41px;
  overflow: hidden;
}
.vector-icon7 {
  height: 10.79%;
  width: 3.47%;
  top: 0;
  right: 11.04%;
  bottom: 89.21%;
  left: 85.49%;
  max-width: 100%;
  max-height: 100%;
}
.footer3 {
  position: absolute;
  top: 746.95px;
  left: 0;
  width: 1440px;
  height: 352.05px;
  text-align: left;
  font-size: var(--sub-heading-size);
  color: var(--color-gray);
}
.forgot-password-child {
  position: absolute;
  top: 1113px;
  left: -321px;
  border-radius: 50%;
  background-color: var(--color-lightblue-400);
  filter: blur(304px);
  width: 861px;
  height: 821px;
}
.login-button-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightblue-100);
  width: 159px;
  height: 63px;
}
.verify {
  position: absolute;
  top: 23.25px;
  left: 15.52px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 128.16px;
  height: 33.04px;
}
.login-button3 {
  position: absolute;
  top: 202px;
  left: 0;
  width: 159px;
  height: 63px;
  cursor: pointer;
}
.login-form-child1,
.login-form-inner {
  position: absolute;
  top: 0;
  left: 80px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 683.31px;
  height: 40.36px;
}
.login-form-child1 {
  top: 106px;
}
.login-form1 {
  position: absolute;
  top: 0;
  left: 384px;
  width: 763.31px;
  height: 265px;
}
.enter-registered-mail,
.verification-code {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 541px;
  height: 71px;
}
.verification-code {
  top: 104px;
  left: 140px;
  width: 351px;
  height: 56px;
}
.resend-code-button-child {
  position: absolute;
  top: 0;
  left: 11px;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightblue-100);
  width: 253px;
  height: 66px;
}
.resend-code {
  position: absolute;
  top: 18px;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 281.8px;
  height: 48.21px;
}
.login-form2,
.resend-code-button {
  position: absolute;
  top: 187px;
  left: 665px;
  width: 281.8px;
  height: 66.21px;
  color: var(--color-black);
}
.login-form2 {
  top: 12px;
  left: 0;
  width: 946.8px;
  height: 253.21px;
  color: var(--color-white);
}
.forgot-password-form {
  position: absolute;
  top: 496px;
  left: 146px;
  width: 1147.31px;
  height: 265.21px;
  font-size: var(--font-size-11xl);
}
.forgot-password-item {
  position: absolute;
  top: 724px;
  left: 160px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  width: 86px;
  height: 112px;
}
.forgot-password {
  position: relative;
  background-color: var(--color-darkturquoise);
  width: 100%;
  height: 1099px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--sub-heading);
}
