*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
}

.gradient3{
    position: absolute;
    top: 400px;
    left: -400px;
    height: 600px;
}

.gradient4{
    position: absolute;
    right: -550px;
    height: 600px;
}

.container{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: #0ABBC6;
}

.wrapper {
    margin-left:12%;
    width: 1200px;
    height: 100vh;
    z-index: 2;
}

.gradient{
    position: absolute; 
    top: 0;
    left: 0;
}

.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);   
}

.grid h1{
    color: white;
    font-family: Outfit;
    font-size: 50px;
}

.grid img{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.start{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-left: 150px;
}

.grid h2{
    color: white;
    font-size: 25px;
    font-family: Roboto;
    font-weight: normal;
}
.grid button{
    margin-left: 100px;
}
#Start{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
}

main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.levels{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#two{
    align-self:flex-end;
}

#four{
    align-self: flex-end;
}

.levels button{
    height: 45px;
    width: 133px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
}

.foot_content{
    position: absolute;
    top: 1300px;
    z-index: 2;
    padding: 30px 0 30px 0;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100vw;
    height: 200px;
}

.Rights{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serv_contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials{
    display: flex ;
    flex-direction: column;
    gap: 10px;
}

.social_img{
    display: flex;
    gap: 20px;
}

.social_img a{
    height: 30px;
    width: 30px;
}

.foot_content h2{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
}

.foot_content a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.foot_content p{
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.Rights a{
    font-size: 18px;
    text-decoration: underline;
}

