* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: gold;
    color: white;
}

@font-face {
    font-family: Outfit;
    src: url(../Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../Roboto-Medium.ttf);
}


.container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.hamburger-icon{
    display: none;
    color: white;
}

.phone-heading{
    display: none;
}

.nav-heading{
    color: #fffe7a;
    transition: color 0.3s linear;
}

.contact-modal-head{
    font-size: 25px;
    margin-top: 30px;
}

.contact-cross{
    position: absolute;
    right: 30px;
    top: 20px;
}

.contact-us {
    cursor: pointer;
}

.contact-us-modal{
    font-family: Outfit;
    position: absolute; 
    display: flex;
    flex-direction: column;
    gap: 100px;
    color: white;
    background: #ffffff1a;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(15px);
    top: 25%;
    left: 25%;
    width: 50%;
    height: fit-content;
    padding-bottom: 50px;
    border-radius: 30px;
    z-index: 5000;
    align-items: center;
    scale: 0;
    transition: scale 0.3s ease-in;
}

.contact-us-active{
    scale: 1;
    transition: scale 0.3 ease-out;
}

.contact-places{
    font-family: Roboto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-social{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.contact-social i{
    z-index: 6;
    color: white;
}

.overlay{
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.modal-cross{
    position: fixed;
    right: 10%;
    top: 2%;
    
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 70%;
    z-index: 5000;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

.modal-elements a{
    color: black;
    text-decoration: none;
    font-family: Outfit;
    font-size: 10px;
    margin-left: 20px;
}

.modal-elements{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-heading:hover{
    color: white;
    transition: color 0.3s linear;
}

.phone-nav{
    display: none;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    z-index: 2;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 100px 20px;
}

.nav_elements {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

nav a {
    text-decoration: none;
    font-size: 10px;
    color: white;
    gap: 15px;
    justify-content: center;
    font-family: Outfit;
    z-index: 2;
    transition: color 0.3s linear;
}

.nav_elements a:hover{
    color: #fffe7a;
    transition: color 0.3s linear;
}

.nav-underline{
    width: 100%;
    background-color: transparent;
    height: 3px;
    margin-top: 5px;
    border-radius: 30px;
    transition: background-color 0.3s linear;
}

.nav_elements a:hover .nav-underline{
    background-color: #fffe7a;
    transition: background-color 0.3s linear;
}

.hero-span-text{
    color: #fffe7a;
}

.logo {
    overflow-y: hidden;
    position: relative;
    bottom: 100px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translateY(10%);
    user-select: none;
    opacity: 0;
}

.grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr;
}

.buttons {
    grid-row-start: 3;
}

.buttons button {
    cursor: pointer;
}

.grid p {
    margin: 50px 0 50px 0;
    font-family: Roboto;
    color: white;
    font-size: 18px;
    line-height: 20px;
    z-index: 2;
    transform: translateX(-10%);
    opacity: 0;
}

.grid h1 {
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 300px;
    transform: translateX(-20%);
    opacity: 0;
}

#Login {
    background-color: transparent;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateX(-40%);
}

#Register {
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
    margin-right: 35px;
    transition: all 0.3s ease-out;
    opacity: 0;
    transform: translateX(-40%);
}

#Register:hover {
    scale: 1.1;
    transition: all 0.3s ease-in;
}

#Login:hover {
    scale: 1.1;
    transition: all 0.3s ease-in;
}

.content button:hover{
    scale: 1.1;
    transition: all 0.3s ease-in;
}

.buttons button {
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
}

.hero-element{
    position: absolute;
    width: 200px;
    z-index: 2;
}

.grid-col-2{
    position: relative;
    height: fit-content;
}

.grid2-img{
    width: 90%;
    z-index: 2;
    user-select: none;
}

.yellow-circle{
    position: absolute;
    z-index: 1;
    background-color: #fffe7a;
    border-radius: 50%;
    filter: blur(150px);
    right: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    scale: 0.5;
    animation: 5s infinite alternate circleMovement;
}

@keyframes circleMovement {
    50%{
        scale: 1;
    }
}

.woman{
    width: 300px;
    bottom: 80px;
    left: -170px;
    transform: translateY(10%);
    animation: 5s infinite alternate womanMovement;
    opacity: 0;
}

@keyframes womanMovement {
    50%{
        bottom: 160px;
    }
}


.leaderboard h2 {
    font-weight: normal;
    font-size: 18px;
    word-spacing: 10%;
    font-family: Outfit;
    color: black;
    font-weight: 500;
}

.leaderboard-heading{
    transform: translateY(10%);
    opacity: 0;
}

.rectangle {
    width: 100%;
    background-color: white;
    border-radius: 50px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 20px 100px 20px;
    transform: translateY(10%);
}

.leader_head {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.leaderboard-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.leaderboard-content h3 {
    margin-left: 20px;
    font-family: Roboto;
    font-size: 16px;
    word-spacing: 10%;
    font-weight: 400;
    text-align: center;
}

.leaderboard-element {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h1 {
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 80%;
    z-index: 2;
}

.content h2 {
    font-size: 25px;
    color: white;
    font-family: Outfit;
    padding: 0 0 30px 18px;
    z-index: 2;
}

.content button {
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
    align-self: center;
    z-index: 2;
    transition: all 0.3s ease-out
}

.course {
    margin-left: 50%;
    cursor: pointer;
}

.testimonials {
    position: relative;
    padding-top: 100px;
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.head {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    /* opacity: 0;
    transform: translateY(10%); */
}

.head h3 {
    font-weight: normal;
    font-size: 18px;
    word-spacing: 10%;
    font-family: Outfit;
    color: white;
    font-weight: 500;
}

.head h2 {
    text-align: center;
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 40%;
}

.reviews {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.review {
    /* opacity: 0;
    transform: translateY(10%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
    transition: transform 0.3s ease;

}

.review:hover {
    transform: scale(1.1);
}

.reviews h2 {
    padding-top: 100px;
    font-family: Outfit;
    font-size: 20px;
    padding: 0 auto;
}

.reviews p {
    padding: 0 auto;
    font-family: Roboto;
    font-size: 18px
}

.reviews img {
    position: absolute;
    top: -50px;
    left: 136.5px;
    user-select: none;
}

.foot_content a:hover{
    color: #F4BB44;
    transition: color 0.3s linear;
}

.foot_content {
    padding: 30px 0 50px 0;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 2500px;
    border: none;
}

.footer-element {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_img {
    display: flex;
    gap: 20px;
}

.active{
    transform: scaleX(1);
    transition: transform 0.3s linear;
}

.active-cross-overlay{
    display: block;
    opacity: 0.5;
    transition: opacity 0.5s linear;
}

.icon{
    color: black;
    transition: color 0.3s linear;
}

.icon:hover{
    color: #fffe7a;
    transition: color 0.3s linear;
}

.foot_content h2 {
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: outfit;
}

.foot_content a {
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
    transition: color 0.3s linear;
}

.foot_content p {
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.Rights a {
    font-size: 18px;
    text-decoration: underline;
}

/*for-tablets*/
@media (min-width: 769px) and (max-width:1260px) {
    .wrapper{
        width: 512.5px;
    }
    .hamburger-icon{
        display: block;
        
    }
    .contact-us-modal{
        width: 90vw;
        left: 5%;
        height: fit-content;
        gap: 100px;
    }

    .contact-modal-head{
        font-size: 18px;
    }
    nav a{
        display: none;
    }
    .phone-heading{
        display: block;
        color: #fffe7a;
        font-size: 18px;
        font-family: Outfit;
        margin: auto 0;
        
    }
    .nav_elements{
        display: none;
    }
    .phone-nav{
        justify-content: flex-start;
        gap: 20px;
        margin-left: 30px;
        display: flex;
        margin-bottom: 0;
    }

    .logo {
        overflow-y: hidden;
        position: relative;
        bottom: 0;
        width: 150%;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    
    }

    .grid h1 {
        font-size: 45px;
    }

    .buttons{
        display: flex;
    }

    .woman{
        width: 200px;
        left: -70px;
        bottom: -50px;
    }

    @keyframes womanMovement {
        50%{
            bottom: 20px;
        }
    }

    .modal a{
        font-size: 16px;
    }

    .grid2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .yellow-circle{
        filter: blur(150px);
        right: 0;
        top: 0;
        bottom: 289px;
        left: 30px;
    }
    .content{
        padding-top: 30px;
    }
    .content h1 {
        margin-top: 7%;
        font-size: 50px;
        width: 100%;
    }
    
    .content h2 {
        font-size: 30px;
        padding:0;
    }
    .phone-grid2-element{
        display: flex;
        gap: 20px;
    }
    .content button{
        width: 30%;
    }

    .testimonials{
        padding-top: 0;
    }

    .head h2 {
        font-size: 50px;
        width: 100%;
    }

    .reviews{
        flex-wrap: wrap;
        gap: 100px;
    }
    .review {
        height: 350px;
        width: 100%;
    }
    .reviews img {
        position: absolute;
        top: -50px;
        left: 190px;
    }
    
    .foot_content{
        flex-wrap: wrap;
        gap: 50px;
        top: 3600px;
    }
    .social-head{
        align-self: center;
    }
}

/*For mobile-phones*/
@media (max-width: 768px) {
    .wrapper{
        width: 288px;
    }

    .contact-us-modal{
        width: 90vw;
        left: 5%;
        height: fit-content;
        gap: 30px;
    }

    .contact-modal-head{
        font-size: 18px;
    }
    
    .hamburger-icon{
        display: block;
        width: 30px;
        
    }
    nav a{
        display: none;
    }
    .phone-heading{
        display: block;
        color: #fffe7a;
        font-size: 18px;
        font-family: Outfit;
        margin: auto 0;
        
    }
    .nav_elements{
        display: none;
    }
    .phone-nav{
        justify-content: flex-start;
        gap: 20px;
        margin-left: 30px;
        display: flex;
        margin-bottom: 100px;
    }

    .phone-nav h1{
        font-size: 20px;
    }

    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 170px 150px 100px 1fr;
    }

    .grid .logo{
        grid-column-start: 1;
        grid-row-end: 2;
    }
    .grid h1{
        grid-row-start: 2;
        text-align: center;
    }
    .grid p{
        margin: 0;
        grid-row-start: 3;
        text-align: center;
    }
    .buttons{
        display: flex;
        grid-row-start: 4;
    }
    .woman{
        width: 200px;
        left: -100px;
    }
    .leaderboard-content h3 {
        margin-left: 0;
        font-size: 12px;
    }
    .rectangle{
        height: fit-content;
        width: 95vw;
        position: relative;
        left: -17.5vw;
    }
    .leaderboard h2 {
        font-size: 14px;
    }
    .leaderboard-heading{
        margin-top: 50px;
        position: relative;
        left: -10vw;
    }
    .leaderboard-element{
        row-gap: 30px;
    }
    .grid2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
    .yellow-circle{
        filter: blur(70px);
        right: 0;
        top: 0;
        bottom: 259px;
        left: 30px;
    }
    .content{
        padding-top: 30px;
    }
    .content h1 {
        font-size: 28px;
        width: 100%;
    }
    
    .content h2 {
        font-size: 18px;
        padding:0;
    }
    .phone-grid2-element{
        display: flex;
    }
    .content button{
        width: 50%;
    }
    .head h2 {
        font-size: 30px;
        width: 100%;
    }
    .reviews{
        flex-wrap: wrap;
        gap: 100px;
    }
    .review {
        height: 288px;
        width: 100%;
    }
    .reviews img {
        position: absolute;
        top: -50px;
        left: 80px;
    }
    .foot_content{
        top: 3200px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .footer-element h2{
        align-self: center;
    }
    .footer-element a{
        text-align: center;
    }
    .footer-element p{
        text-align: center;
    }
}