*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
}


.container{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: #0ABBC6;
}

.gradient{
    position: absolute; /*remove these gradients make a blur circle*/
    top: 0;
    left: 0;
}

.gradient2{
    position: absolute;
    top: -550px;
    right: -150px;
}

.gradient3{
    position: absolute;
    top: 400px;
    left: -400px;
    height: 600px;
}

.gradient4{
    position: absolute;
    right: -550px;
    height: 600px;
}
.wrapper {
    margin-left:12%;
    width: 1200px;
    height: 100vh;
    z-index: 2;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 100px 20px;
}

.nav_elements{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

nav a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    gap: 15px;
    justify-content: center;
    font-family: Outfit;
}

.grid img{
    overflow-y: hidden;
    position: relative;
    bottom: 100px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 1fr 1fr;
}

.buttons {
    grid-row-start: 3;
}

.grid p{
    margin: 50px 0 50px 0;
    font-family: Roboto;
    color: white;
    font-size: 18px;
    line-height: 20px;
    z-index: 2;
}

.grid h1{
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 300px;
    z-index: 2;
}

#Login{
    background-color: transparent;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
}

#Register{
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
    margin-right: 35px;
    z-index: 2;
}

.buttons button{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
}



.leaderboard h2{
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    word-spacing: 10%;
    font-family: Outfit;
    color: black;
    font-weight: 500;
}

.rectangle{
    width: 1200px;
    background-color: white;
    border-radius: 50px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 20px 100px 20px;
    
}

.leader_head{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contents{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contents h3{
    margin-left: 20px;
    font-family: Roboto;
    font-size: 16px;
    word-spacing: 10%;
    font-weight: 400;
    text-align: center;
}

.Rank{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.Name{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.Score{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.League{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h1{
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 80%;
    z-index: 2;
}

.content h2{
    font-size: 25px;
    color: white;
    font-family: Outfit;
    padding: 0 0 30px 18px;
    z-index: 2;
}

.content button{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
    background-color: #C7E7F8;
    border: 1px solid #C7E7F8;
    border-radius: 83px;
    height: 45px;
    width: 133px;
    align-self:center;
    z-index: 2;
}

.testimonials{
    position: relative;
    padding-top: 100px;
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.head{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.head h3{
    font-weight: normal;
    font-size: 18px;
    word-spacing: 10%;
    font-family: Outfit;
    color: white;
    font-weight: 500;
}

.head h2{
    text-align: center;
    color: white;
    font-family: Outfit;
    font-size: 50px;
    width: 40%;  
}

.reviews{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.review1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
}

.reviews h2{
    padding-top: 100px;
    font-family: Outfit;
    font-size: 20px;
    padding-left: 20px
}

.reviews p{
    padding-left: 20px;
    font-family: Roboto;
    font-size: 18px
}

.review2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
}

.review3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
}

.reviews img{
    position: absolute;
    top: -50px;
    left: 136.5px;
}

.foot_content{
    position: absolute;
    top: 2400px;
    z-index: 2;
    padding: 30px 0 30px 0;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100vw;
    height: 200px;
}

.Rights{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serv_contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials{
    display: flex ;
    flex-direction: column;
    gap: 10px;
}

.social_img{
    display: flex;
    gap: 20px;
}

.social_img a{
    height: 30px;
    width: 30px;
}

.foot_content h2{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: Outfit;
}

.foot_content a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.foot_content p{
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.Rights a{
    font-size: 18px;
    text-decoration: underline;
}