*{
  margin: 0;
  padding: 0;
}
.gradient-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1876px;
  height: 1536px;
}
.text2 {
  position: absolute;
  top: 761px;
  left: 736px;
  font-size: var(--font-size-lg);
}
.hero-child {
  position: absolute;
  top: 408px;
  left: 805px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.already-a-member1,
.log-in-to {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  display: inline-block;
  width: 531px;
  height: 291px;
}
.log-in-to {
  top: 246px;
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  width: 473px;
  height: 112px;
}
.rectangle-icon3 {
  position: absolute;
  top: 0;
  left: 560px;
  border-radius: var(--br-21xl);
  width: 563px;
  height: 492px;
  object-fit: cover;
}
.hero {
  position: absolute;
  top: 120px;
  left: 174px;
  width: 1123px;
  height: 508px;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}
.footer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100vw;
  height: 274px;
}
.vector-icon4 {
  position: absolute;
  height: 14.96%;
  width: 2.99%;
  top: 20.07%;
  right: 16.6%;
  bottom: 64.96%;
  left: 80.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chanakya2,
.email2,
.menu2,
.our-socials2,
.services2 {
  position: absolute;
  top: 21px;
  left: 184px;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.email2,
.menu2,
.our-socials2,
.services2 {
  top: 24px;
  left: 472px;
}
.menu2,
.our-socials2,
.services2 {
  left: 678px;
}
.our-socials2,
.services2 {
  left: 871px;
}
.our-socials2 {
  left: 1105px;
}
.all-rights-reserved2 {
  margin: 0;
}
.all-rights-reserved-container2 {
  position: absolute;
  top: 76px;
  left: 184px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 176px;
  height: 61px;
}
.about-us-courses-container2,
.all-rights-reserved-container2,
.terms-of-use-container2 {
  font-size: var(--body-text-size);
  font-weight: 500;
  display: inline-block;
}
.about-us-courses-container2 {
  position: absolute;
  top: 76px;
  left: 678px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 99px;
  height: 102px;
}
.terms-of-use-container2 {
  top: 81px;
  left: 871px;
  width: 189px;
  height: 81px;
}
.privacy-policy2,
.terms-of-use-container2,
.xyzgmailcom2 {
  position: absolute;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
}
.xyzgmailcom2 {
  top: 76px;
  left: 454px;
  font-size: var(--body-text-size);
  font-weight: 500;
}
.privacy-policy2 {
  top: 178px;
  left: 184px;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  width: 176px;
  height: 61px;
}
.frame-icon2,
.vector-icon5 {
  position: absolute;
  top: 50px;
  left: 1105px;
  width: 40px;
  height: 41px;
  overflow: hidden;
}
.vector-icon5 {
  height: 17.15%;
  width: 3.47%;
  top: 19.71%;
  right: 11.94%;
  bottom: 63.14%;
  left: 84.58%;
  max-width: 100%;
  max-height: 100%;
}
.footer2 {
  position: absolute;
  top: 1086px;
  left: 0;
  width: 100vw;
  height: 274px;
  text-align: left;
  font-size: var(--sub-heading-size);
  color: var(--color-gray);
}
.login-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightblue-100);
  width: 349.6px;
  height: 91.93px;
}
.login1 {
  position: absolute;
  top: 33.93px;
  left: 34.13px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 281.8px;
  height: 48.21px;
}
.login-button2 {
  position: absolute;
  top: 195.07px;
  left: 79.87px;
  width: 349.6px;
  height: 91.93px;
  cursor: pointer;
  color: var(--color-black);
}
.password1,
.user-name {
  position: absolute;
  top: 12px;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 309.34px;
  height: 56.05px;
}
.password1 {
  top: 114px;
}
.login-form-child,
.login-form-item {
  position: absolute;
  top: 0;
  left: 290px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 683.31px;
  height: 40.36px;
}
.login-form-item {
  top: 102.02px;
  left: 290.69px;
}
.login-form {
  position: absolute;
  top: 677px;
  left: 160px;
  width: 974px;
  height: 287px;
  color: var(--color-white);
}
.login-page-child {
  position: absolute;
  top: 724px;
  left: 160px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  width: 86px;
  height: 112px;
}
.forgot-your-password {
  position: absolute;
  top: 908px;
  left: 664px;
  text-decoration: underline;
  line-height: 20px;
  font-weight: 600;
}
.login-page {
  position: relative;
  background-color: var(--color-darkturquoise);
  width: 100%;
  height: 1160px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--sub-heading);
}

.foot_content{
    padding: 30px 0 50px 0;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 1050px;
    border: none;
}

.Rights{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serv_contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials{
    display: flex ;
    flex-direction: column;
    gap: 10px;
}

.social_img{
    display: flex;
    gap: 20px;
}

.social_img a{
    height: 30px;
    width: 30px;
}

.foot_content h2{
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: outfit;
}

.foot_content a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.foot_content p{
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.Rights a{
    font-size: 18px;
    text-decoration: underline;
}
