@font-face {
    font-family: Outfit;
    src: url(../Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../Roboto-Medium.ttf)
}

* {
    border: none;
}

body {
    height: 1500px;
    max-width: 100vw;
}

.foot_content {
    padding: 30px 0 50px 0;
    overflow-x: hidden;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 1500px;
    border: none;
}

.Rights {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu_contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serv_contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_img {
    display: flex;
    gap: 20px;
}

.social_img a {
    height: 30px;
    width: 30px;
}

.foot_content h2 {
    font-weight: bold;
    font-size: 16px;
    word-spacing: 10%;
    font-family: outfit;
}

.foot_content a {
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.foot_content p {
    color: black;
    font-family: Roboto;
    font-size: 16px;
}

.Rights a {
    font-size: 18px;
    text-decoration: underline;
}

@keyframes rocket {
    form {
        top: 10px;
    }

    to {
        top: 100px;
    }
}

.UpperHead img {
    animation: 2s infinite alternate rocket;
}