.gradient-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1876px;
  height: 1536px;
}

.hero-inner,
.text4 {
  position: absolute;
  top: 761px;
  left: 736px;
}

.hero-inner {
  top: 408px;
  left: 805px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.already-a-member2,
.change-password {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  display: inline-block;
  width: 531px;
  height: 291px;
}

.change-password {
  top: 246px;
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  width: 473px;
  height: 112px;
}

.rectangle-icon5 {
  position: absolute;
  top: 0;
  left: 560px;
  border-radius: var(--br-21xl);
  width: 563px;
  height: 492px;
  object-fit: cover;
}

.hero2 {
  position: absolute;
  top: 120px;
  left: 174px;
  width: 1123px;
  height: 508px;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}

.footer-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100vw;
  height: 274px;
}

.vector-icon8 {
  position: absolute;
  height: 14.96%;
  width: 2.99%;
  top: 20.07%;
  right: 16.6%;
  bottom: 64.96%;
  left: 80.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.chanakya4,
.email4,
.menu4,
.our-socials4,
.services4 {
  position: absolute;
  top: 21px;
  left: 184px;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.email4,
.menu4,
.our-socials4,
.services4 {
  top: 24px;
  left: 472px;
}

.menu4,
.our-socials4,
.services4 {
  left: 678px;
}

.our-socials4,
.services4 {
  left: 871px;
}

.our-socials4 {
  left: 1105px;
}

.all-rights-reserved4 {
  margin: 0;
}

.all-rights-reserved-container4 {
  position: absolute;
  top: 76px;
  left: 184px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 176px;
  height: 61px;
}

.about-us-courses-container4,
.all-rights-reserved-container4,
.terms-of-use-container4 {
  font-size: var(--body-text-size);
  font-weight: 500;
  display: inline-block;
}

.about-us-courses-container4 {
  position: absolute;
  top: 76px;
  left: 678px;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
  width: 99px;
  height: 102px;
}

.terms-of-use-container4 {
  top: 81px;
  left: 871px;
  width: 189px;
  height: 81px;
}

.privacy-policy4,
.terms-of-use-container4,
.xyzgmailcom4 {
  position: absolute;
  line-height: 20px;
  font-family: var(--body-text);
  color: var(--color-black);
}

.xyzgmailcom4 {
  top: 76px;
  left: 454px;
  font-size: var(--body-text-size);
  font-weight: 500;
}

.privacy-policy4 {
  top: 178px;
  left: 184px;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  width: 176px;
  height: 61px;
}

.frame-icon4,
.vector-icon9 {
  position: absolute;
  top: 50px;
  left: 1105px;
  width: 40px;
  height: 41px;
  overflow: hidden;
}

.vector-icon9 {
  height: 17.15%;
  width: 3.47%;
  top: 19.71%;
  right: 11.94%;
  bottom: 63.14%;
  left: 84.58%;
  max-width: 100%;
  max-height: 100%;
}

.footer4 {
  position: absolute;
  top: 1086px;
  left: 0;
  width: 100vw;
  height: 274px;
  text-align: left;
  font-size: var(--sub-heading-size);
  color: var(--color-gray);
}

.new-password-child {
  position: absolute;
  top: 1113px;
  left: -321px;
  border-radius: 50%;
  background-color: var(--color-lightblue-400);
  filter: blur(304px);
  width: 861px;
  height: 821px;
}

.confirm-password1,
.enter-new-password {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 541px;
  height: 71px;
}

.confirm-password1 {
  top: 76px;
  left: 99px;
  width: 351px;
  height: 56px;
}

.login-form3 {
  position: absolute;
  top: 667px;
  left: 127px;
  width: 541px;
  height: 132px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}

.login-form-child2,
.login-form-child3 {
  position: absolute;
  border-radius: var(--br-xl);
  width: 683.31px;
  height: 40.36px;
}

.login-form-child2 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}

.login-form-child3 {
  top: 70.5px;
  left: 6.5px;
}

.confirm-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightblue-100);
  width: 260px;
  height: 77px;
}

.confirm {
  position: absolute;
  top: 22px;
  left: 5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 250px;
  height: 33px;
  cursor: pointer;
}

.confirm-button,
.login-form4 {
  position: absolute;
  top: 157px;
  left: 37px;
  width: 260px;
  height: 77px;
}

.login-form4 {
  top: 660px;
  left: 560px;
  width: 689.81px;
  height: 234px;
  font-size: var(--font-size-21xl);
}

.new-password-item {
  position: absolute;
  top: 724px;
  left: 160px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  width: 86px;
  height: 112px;
}

.new-password {
  position: relative;
  background-color: var(--color-darkturquoise);
  width: 100%;
  height: 1360px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--sub-heading);
}

form {
  margin-left: 400px;

}

form #con_pass {
  margin-top: 45px;
}

form input {
  border-radius: 20px;
  border: 1px solid white;
  height: 25px;
  width: 383px;
}